*{
    margin: 0;
    padding: 0;
}

/* shared styles */

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  .content-size{
    margin: 0 140px;
  }
  .display-flex{
    display: flex;
  }
  .clr-1{
    color:#FEA301;
  }
  .clr-2{
    color:#01ACFD ;
  }

  .clr-3{
    color: #05D4DF;
  }
  .clr-4{
    color:#5D58EF ;
  }
  .font-medium{
    font-weight: 500;
  }
  .font-semibold{
    font-weight: 600;
  }
  .font-bold{
    font-weight: 700;
  }
  .font-size-20{
    font-size: 1.25rem;
  }
  .font-size-32{
    font-size: 2rem;
  }
  .position-relative{
    position: relative;
  }


/* shared styles close */

/* header styles  */

  /* nav styles  */

  .navbar{
    margin: 20px 0;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  .nav-logo{
 align-items: center;
  }
  .navlogo{
    width: 90%;
  }
  .nav-links>ul{
    list-style: none;
    gap: 30px;

  }
  .nav-links>ul>li>a{
    text-decoration: none;
  }
  .nav-button{
    background-color: #FEA301;
    color: white;
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
  }
  .nav-button:hover{
    background-color: #5D58EF;
    box-shadow: 3px 3px 3px black;
    transition: 1s;
  }
  .menubar{
    display: none;
  }
.banner{
    max-height: 575px;
    align-items: center;
    gap: 45px;
}
.banner-content>h1{
    font-size: 3rem;
    font-weight: 600;
}
.banner-content>p{
    margin: 20px 0;
}
.banner-btn{
    background-color: black;
    color: white;
    padding:10px 47px;
    border-radius: 12px;
    cursor: pointer;
}
.banner-btn:hover{
    background-color: #05D4DF;
    box-shadow: 3px 3px 3px rgb(23, 101, 125);
    border: none;
    transition: 0.8s;

}
/* main styles  */

.curriculum{
    padding: 60px 0;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.curriculum-title{
    text-align: center;
}
.curriculum-title>h1{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.curriculum-cards{
    margin: 80px 0;
    gap: 25px;
}
.curriculum-card{
    border-radius: 18px;
    max-height: 475px;
    text-align: center;
    width: calc((100% - 50px)/3);
}
.curriculum-card>img{
    margin-top: 65px;
}
.curriculum-card>h3{
    margin: 33px 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.curriculum-card>p{
    margin:0 20px 33px 20px;
    text-align: center;
    color: #808080;
}
.curriculum-card>button{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 0.95rem;
    border: none;
    background-color: transparent;
}
.fix-card{
   padding: 6px;
}
.card-1{
    border: 1px solid #01ACFD; 
    background-image: linear-gradient(to bottom ,#DEF5FF 0%, white 40%);
}
.card-2{
    border: 1px solid #FEA301; 
    background-image: linear-gradient(to bottom ,#FFF4DC 0%, white 40%);
}
.card-3{
    border: 1px solid #5D58EF; 
    background-image: linear-gradient(to bottom ,#F2E8FF 0%, white 40%);
}
.front-back{
    gap: 20px;
    justify-content: center;

}
.back{
    background-color: #FEA301;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.back>a{
    color: white;
    font-size: 1.5rem;
    }
    .section-2{
      background-image: linear-gradient(rgba(255, 255, 244, 0.3),rgba(254, 163, 1, 0.3));
    }
  .stories{
    text-align: center;
    padding-bottom: 60px ;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: repeat;
  }
  .stories-content{
    margin: 80px 0;
    gap: 15px;
  }
  .stories-title>h1{
    font-weight: 700;
    font-size: 2.8rem;
  }
  .stories-cards-1{
    max-height: 630px;
    width: calc((100% - 15px)/2);
    border-radius: 16px;
    border: none;
    background-color: white;
  }
  .stories-cards-1>img{
    width: 100%;
    height: 50%;
    border-radius: 16px 16px 0 0;
  }
  .story-1{
    margin-top: -25px;
    z-index: 5;
    margin-left: -250px;
  }
  .story-1>button{
    border-radius: 45px;
    padding: 15px 18px;
    background-color: #3CD8E8;
    font-weight: 500;
    color: white;
    border: none;
  }
  .stories-cards-1>h3{
    margin: 60px 35px 51px 35px;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
  }
  .stories-cards-1>p{
    color: #666666;
    font-weight: 500;
    margin: 60px 35px 51px 35px;
    text-align: left;
  }
  .stories-card-2{
    max-height: 630px;
    width: calc((100% - 15px)/2);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px; 
  }
  .stories-card{
    border-radius: 16px;
    border: none;
    background-color: white;
  }
  .story-card-hidden{
    display: none;
  }
  .stories-card>img{
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 60%;
  }
  .story-2{
    margin-top: -25px;
    z-index: 5;
    margin-left: -30px;
  }
  .story-2>button{
    border-radius: 45px;
    padding: 9px 18px;
    background-color: #95B226;
    font-weight: 500;
    color: white;
    border: none;
  }
  .stories-card>h4{
  font-weight: 700;
  font-size: 1rem;
  margin-top: 24px;
  margin-left: 30px;
  text-align: left;
  }
  .story-3{
    margin-top: -25px;
    z-index: 5;
    margin-left: -30px;
  }
  .btn-card-3{
    border-radius: 45px;
    padding: 9px 18px;
    background-color: #95B226;
    font-weight: 500;
    color: white;
    border: none;
    background-color: #5D58F0;
  }
  .story-button>button{
    padding: 10px 60px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    background-color: #000000;
    border-radius: 12px;
  } .story-button>button:hover{
    background-color: #01ACFD;
    box-shadow: 2px 2px 2px black;
    transition: 1s;
  }

/* footer styles */

.footer{
  padding: 123px 100px 124px 140px;
  background-color: #01ACFD;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 20px;
}
.footer-img>img{
  width: 100%;
  height: 90%;
  color: white;
}
.footer-title,.footer-img{
  width: 82px;
}
.footer-title>h6{
  font-size: 2.6rem;
  font-weight: 700;
  color: white;
}
.footer-para>p{
  margin-top: 35px;
  color: white;
  font-size: 1.2rem;
  text-align: left;
}
.footer-links{
  text-align: left;
  color: white;
  margin-left: 40px;
}
.footer-links>h1{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 32px;
}
.footer-links>ul{
  list-style: none;
}
.footer-links>ul>li{
  margin-bottom: 20px;
}
.footer-links>ul>li>a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
.footer-media>h1{
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 32px;
}
.media-img{
  gap: 10px;
}
.mar{
  color: white;
  background-color: #FEA301;
  font-size: 2rem;
  font-weight: 600;
  height: 50px;
  display: flex;
  align-items: center;
}


/* redsposive styles */

@media screen and (max-width:576px) {
  .nav{
    margin: 0 8px;
    border-bottom: 1px solid #FEA301;
  }
  .menubar{
    display: block;
    font-size: 2rem;
  }  
  .schols-name{
    display: none;
  } 
  .nav-links{
    display: none
  }
  .nav-btn{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    margin: 450px 20px 20px 20px;
  }
  .banner-content{
    text-align: center;
  }
  .banner-content>h1{
    font-size: 2.5rem;
    font-weight: 600;
}
  .section-1{
    margin: 0 16px;
  }
  .curriculum-cards{
    flex-direction: column;
    margin: 20px 0;
  }
  .curriculum-title>h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}
  .curriculum-card{
    width: 100%;
  }
  .front-back{
    display: none;
  }
  .stories{
    margin: 0 0;
  }
   .stories-cards-1{
    display: none;
   }
   .stories-card-2{
    grid-template-columns: repeat(2,1fr);
    margin: 0 16px;
    width: 100%;
   }
   .story-card-hidden{
    display: block;
   }
   .stories-card>h4{
    margin-left: 15px;
    }
   .footer{
    padding: 65px 16px 70px 16px;
    grid-template-columns: repeat(1,1fr);
   }
   .footer-links{
    margin-left: 0px;
   }
   .stories-card>h4{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
    }
}

